$-colors: (
  'primary': (
    'base': #101e2a,
  ),
  'secondary': (
     'base': #0e263c,
  ),
  'success': (
    'base': #58a51b,
  ),
  'warning': (
    'base': #fb8a01,
  ),
  'danger': (
    'base': #f56c6c,
  ),
  'error': (
    'base': #f56c6c,
  ),
  'info': (
    'base': #909399,
  ),
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $-colors
);

@use './dark.scss';
