{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "rules": {
    "no-constant-condition": [
      "error",
      {
        "checkLoops": false
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "plugins": ["@typescript-eslint"]
    },
    {
      "files": ["**/*.js"],
      "extends": [
        "eslint:recommended"
      ]
    }
  ],
  "ignorePatterns": ["dist/", "handbook_gen/", "docs/", "bundle.js", "test"]
}
