#Node modules
/node_modules
/examples/logs
/examples/node_modules
/tests/web/node_modules/

#Outputs
/.nyc_output
/coverage
/dist
/examples/dist
/examples/blender/*.png
/examples/yacat/*.sh
/examples/yacat/*.txt
/examples/yacat/*.hash
/examples/yacat/*.potfile
logs/
.cypress

#Lock files
package-lock.json
*.lock

#IDE
.idea
*.DS_Store
