# Sensitive details
.env

#Node modules
node_modules/

#Outputs
dist/
coverage/
/.nyc_output
/examples/blender/*.png
/examples/yacat/*.sh
/examples/yacat/*.txt
/examples/yacat/*.hash
/examples/yacat/*.potfile
/docs
logs/
.cypress

#Lock files
*.lock

#IDE
.idea
*.DS_Store
.vscode

#Nuxt
/examples/adv-web-example/.nuxt
tmp/
reports/
