#Node modules
/node_modules
/examples/node_modules

#Outputs
/dist
/examples/dist
/examples/blender/*.png
/examples/yacat/*.sh
/examples/yacat/*.txt
/examples/yacat/*.hash

#Lock files
package-lock.json
*.lock
