body {
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
}
h1 {
    font-size: 1.7rem;
    padding: 10px;
    margin: 0;
}
h3 {
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
    padding: 6px;
    margin-right: 25px;
}
.container {
    display: flex;
    padding: 0 10px;
}
.col-6 {
    width: 50%;
}
.border-left {
    border-left: 1px solid #ddd;
    padding-left: 20px;
}

label {
    font-style: italic;
    font-size: 0.7rem;
    margin: 0;
    padding-right: 2rem;
    box-sizing: content-box;
}
input {
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin: 0;
    padding: 5px;
    height: 35px;
}
button {
    background-color: #064779;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0 10px;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}
button:hover{
    background-color: #07c;
}
button:disabled{
    background-color: #ddd;
    cursor: default;
}
.row {
    display: flex;
    padding: 8px;
}
.vertical {
    flex-direction: column;
}
.padding-0 {
    padding: 0;
}
.logs {
    min-height: 30vh;
    white-space: pre-line;
}
.events {
    min-height: 20vh;
}
.results {
    min-height: 30vh;
}
.commands button {
    width: 120px;
    margin: 0 30px 0 0;
}
#logs {
    white-space: pre-line;
}
.console ul {
    list-style: none;
    font-family: monospace;
    padding: 0;
    font-size: 0.92rem;
    white-space: pre;
}

.script h3 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 0;
    margin-right: 20px;
}

.script #execute {
    margin-right: 0;
    width: 120px;

}

.script ul {
    padding-left: 20px;
}

.small {
    width: 120px;
}
