name: Cypress

on:
  push:
    branches:
      - master
      - b0.*
  pull_request:
    branches:
      - master
      - b0.*

jobs:
  cypress-tests:
    runs-on: goth
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.19.0'

      - name: Install browsers and graphic environment
        run: |
          sudo apt-get update -y
          sudo apt-get install -y build-essential
          sudo apt-get install -y libgtk2.0-0 libgtk-3-0 libgbm-dev libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2 libxtst6 xauth xvfb
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt install -y ./google-chrome-stable_current_amd64.deb

      - name: Build yajsapi
        run: |
          npm install
          npm run build

      - name: Configure python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Install goth
        run: |
          pip install goth
          rm -rf ../goth/assets
          python -m goth create-assets ../goth/assets
          sed -Ezi 's/(use\-proxy:\s)(True)/\1False/mg' ../goth/assets/goth-config.yml

      - name: Disconnect Docker containers from default network
        continue-on-error: true
        # related to this issue: https://github.com/moby/moby/issues/23302
        run: |
          docker network inspect docker_default
          sudo apt-get install -y jq
          docker network inspect docker_default | jq ".[0].Containers | map(.Name)[]" | tee /dev/stderr | xargs --max-args 1 -- docker network disconnect -f docker_default

      - name: Remove Docker containers
        continue-on-error: true
        run: docker rm -f $(docker ps -a -q)

      - name: Restart Docker daemon
        # related to this issue: https://github.com/moby/moby/issues/23302
        run: sudo systemctl restart docker

      - name: Log in to GitHub Docker repository
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login docker.pkg.github.com -u ${{github.actor}} --password-stdin

      - name: Run web server
        run: |
          cd examples/web
          node app.mjs &

      - name: Run test suite
        env:
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run test:cypress -- --browser chrome

      - name: Upload test logs
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: cypress-logs
          path: .cypress

      # Only relevant for self-hosted runners
      - name: Remove test logs
        if: always()
        run: rm -rf .cypress
