name: Release Pipeline

on:
  push:
    branches:
      # Regular release channels
      - master
      - next
      - beta
      - alpha
      # Support, hotfix branches like: 1.0.x or 1.x
      - '([0-9]+)(\.([0-9]+))?\.x'

  # Allows triggering the workflow manually
  workflow_dispatch:
    inputs:
      provider_version:
        description: "Provider version (e.g., v0.13.2 or pre-rel-v0.13.1)"
        required: false
        default: "v0.13.2"
      requestor_version:
        description: "Requestor version (e.g., v0.13.2 or pre-rel-v0.13.1)"
        required: false
        default: "v0.13.2"
      provider_wasi_version:
        description: "Provider WASI version (e.g., v0.2.2)"
        required: false
        default: "v0.2.2"
      provider_vm_version:
        description: "Provider VM version (e.g., v0.3.0)"
        required: false
        default: "v0.3.0"

# We're going to interact with GH from the pipelines, so we need to get some permissions
permissions:
  contents: read # for checkout

jobs:
  regular-checks:
    name: Build and unit-test on supported platforms and NodeJS versions
    strategy:
      matrix:
        # Make sure you're addressing it to the minor version, as sometimes macos was picking 20.9 while others 20.10
        # and that caused issues with rollup
        node-version: [18.19.x, 20.10.x]
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v3

      - name: Setup NodeJS ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Perform regular checks
        run: |
          npm ci
          npm run format:check
          npm run lint
          npm run test:unit
          npm run build
          npm install --prefix examples
          npm run --prefix examples lint:ts

      - name: Upload unit test reports
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: unit-test-report
          path: reports/unit-report.xml

  prepare-test-environment:
    name: Prepare providers and requestor
    needs: regular-checks
    runs-on: goth2
    outputs:
      runner-name: ${{ runner.name }}
    env:
      PROVIDER_VERSION: ${{ github.event.inputs.provider_version || 'v0.13.2' }}
      REQUESTOR_VERSION: ${{ github.event.inputs.requestor_version || 'v0.13.2' }}
      PROVIDER_WASI_VERSION: ${{ github.event.inputs.provider_wasi_version || 'v0.2.2' }}
      PROVIDER_VM_VERSION: ${{ github.event.inputs.provider_vm_version || 'v0.3.0' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use random string for subnet
        # Use a random string to avoid other providers on the same subnet which might cause tests to fail because it expects only providers named provider-1 and provider-2
        run: echo "YAGNA_SUBNET=$(head /dev/urandom | tr -dc A-Za-z0-9 | head -c 8 ; echo '')" >> $GITHUB_ENV

      - name: Set up Versions
        run: |
          echo "PROVIDER_VERSION=${PROVIDER_VERSION}" >> $GITHUB_ENV
          echo "REQUESTOR_VERSION=${REQUESTOR_VERSION}" >> $GITHUB_ENV
          echo "PROVIDER_WASI_VERSION=${PROVIDER_WASI_VERSION}" >> $GITHUB_ENV
          echo "PROVIDER_VM_VERSION=${PROVIDER_VM_VERSION}" >> $GITHUB_ENV

      - name: Build the docker containers
        run: |
          docker compose -f tests/docker/docker-compose.yml build \
            --build-arg UBUNTU_VERSION=22.04 \
            --build-arg YA_CORE_PROVIDER_VERSION=${PROVIDER_VERSION} \
            --build-arg YA_CORE_REQUESTOR_VERSION=${REQUESTOR_VERSION} \
            --build-arg YA_WASI_VERSION=${PROVIDER_WASI_VERSION} \
            --build-arg YA_VM_VERSION=${PROVIDER_VM_VERSION}

      - name: Start the docker containers
        run: |
          sudo service docker restart
          docker compose -f tests/docker/docker-compose.yml down
          docker compose -f tests/docker/docker-compose.yml up -d

      - name: Fund the requestor
        run: |
          sleep 10
          docker exec -t docker-requestor-1 /bin/sh -c "/golem-js/tests/docker/fundRequestor.sh"

      - name: Install and build the SDK in the docker container
        run: |
          docker exec -t docker-requestor-1 /bin/sh -c "cd /golem-js && npm i && npm run build && ./node_modules/.bin/cypress install && npm install --prefix examples && npm install ts-node"

  run-e2e-tests:
    name: Run E2E tests
    needs: prepare-test-environment
    runs-on: ${{ needs.prepare-test-environment.outputs.runner-name }}
    steps:
      - name: Start the E2E test
        run: |
          docker ps
          docker exec -t docker-requestor-1 /bin/sh -c "cd /golem-js && npm run test:e2e"

      - name: Upload E2E reports
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: e2e-test-report
          path: reports/e2e-report.xml

  run-cypress-tests:
    name: Run Cypress tests
    needs: prepare-test-environment
    runs-on: ${{ needs.prepare-test-environment.outputs.runner-name }}
    steps:
      - name: Run web server
        run: |
          docker exec -t -d docker-requestor-1 /bin/sh -c "cd /golem-js/examples/web && node app.mjs"

      - name: Run test suite
        run: |
          docker exec -t docker-requestor-1 /bin/sh -c "cd /golem-js &&  npm run test:cypress -- --browser chromium"

      - name: Upload test logs
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: cypress-logs
          path: .cypress
  run-examples-tests:
    name: Run Examples tests
    needs: prepare-test-environment
    runs-on: ${{ needs.prepare-test-environment.outputs.runner-name }}
    steps:
      - name: Run the Examples tests
        run: |
          docker exec -t docker-requestor-1 /bin/sh -c "cd /golem-js && npm run test:examples -- --exitOnError"

  cleanup-test-environment:
    name: Cleanup test environment
    if: ${{ always() }}
    needs: [prepare-test-environment, run-e2e-tests, run-cypress-tests, run-examples-tests]
    runs-on: ${{ needs.prepare-test-environment.outputs.runner-name }}
    steps:
      - name: Collect logs from providers and requestor
        if: always()
        run: |
          mkdir log-output
          docker compose -f tests/docker/docker-compose.yml logs provider-1 > log-output/provider-1.log
          docker compose -f tests/docker/docker-compose.yml logs provider-2 > log-output/provider-2.log
          docker compose -f tests/docker/docker-compose.yml logs requestor > log-output/requestor.log

      - name: Upload provider output and logs
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: golem-provider-and-requestor-logs
          path: log-output

      - name: Cleanup Docker
        if: always()
        run: |
          c=$(docker ps -q)
          [[ $c ]] && docker kill $c
          docker system prune -af

  release:
    name: Release the SDK to NPM and GitHub
    needs: [run-e2e-tests, run-cypress-tests, run-examples-tests]
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          # Semantic release requires this as bare minimum
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: npm audit signatures

      - name: Build the SDK for release
        run: npm run build

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
run-name: "${{ github.workflow }} - Requestor: ${{ github.event.inputs.requestor_version }}, Provider: ${{ github.event.inputs.provider_version }}, WASI: ${{ github.event.inputs.provider_wasi_version }}, VM: ${{ github.event.inputs.provider_vm_version }}"
