name: Release Pipeline

on:
  push:
    branches:
      # Regular release channels
      - master
      - next
      - beta
      - alpha
      # Support, hotfix branches like: 1.0.x or 1.x
      - '([0-9]+)(\.([0-9]+))?\.x'

  # Allows triggering the workflow manually
  workflow_dispatch:
    inputs:
      provider_version:
        description: "Provider version (e.g., v0.13.2 or pre-rel-v0.13.1)"
        required: false
        default: "v0.13.2"
      requestor_version:
        description: "Requestor version (e.g., v0.13.2 or pre-rel-v0.13.1)"
        required: false
        default: "v0.13.2"
      provider_wasi_version:
        description: "Provider WASI version (e.g., v0.2.2)"
        required: false
        default: "v0.2.2"
      provider_vm_version:
        description: "Provider VM version (e.g., v0.3.0)"
        required: false
        default: "v0.3.0"

# We're going to interact with GH from the pipelines, so we need to get some permissions
permissions:
  contents: read # for checkout

env:
  PROVIDER_VERSION: ${{ github.event.inputs.provider_version || 'v0.13.2' }}
  REQUESTOR_VERSION: ${{ github.event.inputs.requestor_version || 'v0.13.2' }}
  PROVIDER_WASI_VERSION: ${{ github.event.inputs.provider_wasi_version || 'v0.2.2' }}
  PROVIDER_VM_VERSION: ${{ github.event.inputs.provider_vm_version || 'v0.3.0' }}

jobs:
  regular-checks:
    name: Build and unit-test on supported platforms and NodeJS versions
    strategy:
      matrix:
        # Make sure you're addressing it to the minor version, as sometimes macos was picking 20.9 while others 20.10
        # and that caused issues with rollup
        node-version: [18.19.x, 20.10.x]
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4

      - name: Setup NodeJS ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Perform regular checks
        run: |
          npm ci
          npm run format:check
          npm run lint
          npm run test:unit
          npm run build
          npm install --prefix examples
          npm run --prefix examples lint:ts
          npm run test:import

      - name: Upload unit test reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: unit-test-report-${{matrix.os}}-node-${{matrix.node-version}}
          path: reports/unit-report.xml

  run-e2e-tests:
    name: Run E2E tests
    needs: regular-checks
    runs-on: goth2
    steps:
      - uses: actions/checkout@v4

      - name: Prepare providers and requestor
        uses: ./.github/actions/prepare-tests

      - name: Start the E2E test
        run: docker exec -t docker-requestor-1 /bin/sh -c "cd /golem-js && npm run test:e2e"

      - name: Upload E2E reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: e2e-test-report
          path: reports/e2e-report.xml

      - name: Cleanup test environment
        uses: ./.github/actions/cleanup-tests
        if: always()
        with:
          type: "e2e"
  run-examples-tests:
    name: Run Examples tests
    needs: regular-checks
    runs-on: goth2
    steps:
      - uses: actions/checkout@v4

      - name: Prepare providers and requestor
        uses: ./.github/actions/prepare-tests

      - name: Run the Examples tests
        run: docker exec -t docker-requestor-1 /bin/sh -c "cd /golem-js && npm run test:examples -- --exitOnError"

      - name: Cleanup test environment
        uses: ./.github/actions/cleanup-tests
        with:
          type: "examples"

  release:
    name: Release the SDK to NPM and GitHub
    needs: [run-e2e-tests, run-examples-tests]
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          # Semantic release requires this as bare minimum
          node-version: 20

      # Why this? https://github.com/npm/cli/issues/7279
      # Why this way? https://github.com/actions/setup-node/issues/213
      - name: Install latest npm
        shell: bash
        run: |
          npm install -g npm@latest &&
          npm --version &&
          npm list -g --depth 0

      - name: Install dependencies
        run: npm install

      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: npm audit signatures

      - name: Build the SDK for release
        run: npm run build

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
run-name: "${{ github.workflow }} - Requestor: ${{ github.event.inputs.requestor_version }}, Provider: ${{ github.event.inputs.provider_version }}, WASI: ${{ github.event.inputs.provider_wasi_version }}, VM: ${{ github.event.inputs.provider_vm_version }}"
